.trackContainer {
    height: 4rem;
    background-color: #E7E6DD;
    display: flex;
    justify-content: center;
}

.trackInnerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.trackIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trackIconCircle {
    height: 2rem;
    background-color: white;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-right: 10px;
}


.imageView {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.morecontainer {
    text-align: center;
}

#moreImage {
    height: 10rem;
    box-shadow: 0 0 0 3px #E7E6DD;
    border-radius: 50%;
}

#moreDirection {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#moreCover {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}